@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(248, 136, 116);
    background-image: url("./images/bg-intro-desktop.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: #FFFFFF;
}

.paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.btn1 {
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    width: 540px;
    height: 60px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.input {
    width: 460px;
    height: 56px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    padding: 15px 32px;
}

.input:focus {
    border: 1px solid #5E54A4;
}

.input::placeholder {
    mix-blend-mode: normal;
    opacity: 0.75;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
    background: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    width: 460px;
    height: 56px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.inputT {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #BAB7D4;
}

.terms {
    color: #FF7979;
}

.left {
    margin-right: 45px;
}